
{{/* This is so we can more easily get the api config path */}}
{{define "resource-model-parent-vyos-path-hack"}}
/* tools/generate-terraform-resource-full/templates/resources/common/resource-model-parent-vyos-path-hack.gotmpl #resource-model-parent-vyos-path-hack */
	{{- if .Parent}}
		{{template "resource-model-parent-vyos-path-hack" .Parent}}
	{{- end}}
	"{{.BaseName}}",
	{{- if eq .NodeType "TagNode"}}
		{{if eq .ValueType "string" -}}
			o.SelfIdentifier.Attributes()["{{.BaseNameS}}"].(types.String).ValueString(),
		{{- else  if eq .ValueType "number" -}}
			o.SelfIdentifier.Attributes()["{{.BaseNameS}}"].(types.Number).ValueBigFloat().String(),
		{{- else -}}
			UNSUPPORTED TAGNODE VALUETYPE
		{{- end}}
	{{- else if eq .NodeType "Node" -}}
		// Node
	{{else}}
		UNSUPPORTED NODE
	{{- end}}
{{end}}

{{/* This is so we can check for required parents before creating a resource */}}
{{define "resource-model-parent-vyos-path-hack-for-non-global"}}
/* tools/generate-terraform-resource-full/templates/resources/common/resource-model-parent-vyos-path-hack.gotmpl #resource-model-parent-vyos-path-hack-for-non-global */
	{{- if  ne .NodeType "TagNode" }}
		{{- if .Parent}}
			{{template "resource-model-parent-vyos-path-hack-for-non-global" .Parent}}
		{{end}}
	{{ else if not .GetIsBaseNode}}
		{{- if .Parent}}
			{{template "resource-model-parent-vyos-path-hack-for-non-global" .Parent}}
		{{end}}
	{{ else }}
		{{template "resource-model-parent-vyos-path-hack" .}}
	{{ end }}
{{end}}
