---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
{{ $n := index (split .Name "_") 1 }}
{{ if eq $n "high" -}}
    subcategory: "High Availability"
{{ else -}}
    subcategory: "{{ title $n }}"
{{ end }}
description: |- {{/* Remove html formatting */}}
{{range $_, $e := split (.Description | plainmarkdown | trimspace) "\n" -}}
    {{- if ge (len $e) 1 -}}
        {{- $c := slice ($e | trimspace) 0 1 -}}
        {{- if and (ne $c "<") (ne $c "&") -}}
            {{- $e | prefixlines "  " }}{{"\n"}}
        {{- end -}}
    {{- end -}}
{{- end -}}
---

# {{.Name}} ({{.Type}})
<center>

{{ .Description }}

</center>

-> This provider is in "early access", please see the current status at: https://github.com/thomasfinstad/terraform-provider-vyos-rolling/milestones?state=open

<!--TOC-->
<!--TOC-->

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

{{- .SchemaMarkdown | trimspace | html }}

{{- if .HasImport }}
## Import

Import is supported using the following syntax:

{{codefile "shell" .ImportFile }}
{{- end }}
