{{/* This is so we can more easily get the api config path */}}
{{define "resource-model-parent-vyos-path-hack"}}
/* tools/generate-terraform-resource-full/templates/resources/global/resource-model-parent-vyos-path-hack.gotmpl */
	{{- if .Parent}}
		{{template "resource-model-parent-vyos-path-hack" .Parent}}
	{{- end}}
	"{{.BaseName}}",
	{{- if eq .NodeType "TagNode"}}
		{{if eq .ValueType "string" -}}
			o.ParentID{{.BaseNameCG}}.ValueString(),
		{{- else  if eq .ValueType "number" -}}
			o.ParentID{{.BaseNameCG}}.ValueBigFloat().String(),
		{{- else -}}
			UNSUPPORTED TYPE
		{{- end}}
	{{- end}}
{{end}}
